.about
    background-color: $backgroung-dark
    padding: 60px 0
    text-align: center
    color: #ffffff
    &__inner

    &__opt
        text-align: start
    &__opt + &__opt
        margin-top: 20px
